{% extends 'main/base.html' %}

{% block title %}Тренировка{% endblock %}

{% block content %}
<h1>{{ workout_log.workout.name }}</h1>
<p>Программа: {{ workout_log.program.name }}</p>
<p>Дата: {{ workout_log.date }}</p>

<h2>Упражнения</h2>
<ul>
    {% for ex in exercises %}
    <li>
        <strong>{{ ex.exercise.name }}</strong><br>
        {{ ex.sets }} подходов × {{ ex.reps }} повторений<br>
        Вес: {{ ex.weight }} кг
    </li>
    {% endfor %}
</ul>
<a href="{% url 'generators:choose_sport' %}">Новая тренировка</a>
{% endblock %}